# 🐍 Repaso inicial de Python

Este repaso cubre lo esencial para arrancar con Python.  

---

## 1. Variables,  Tipos de Datos y Tipos Complejos

In [ ]:
# Asignación de variables
nombre = "Lucci"   # str (texto)
edad = 20            # int (entero)
altura = 1.80      # float (decimal)
es_estudiante = True    # bool (booleano)

print(nombre, edad, altura, es_estudiante)

In [ ]:
# Aritméticos
a = 10
b = 3

print(a + b)   # Suma
print(a - b)   # Resta
print(a * b)   # Multiplicación
print(a / b)   # División
print(a // b)  # División entera
print(a % b)   # Resto
print(a ** b)  # Potencia

In [ ]:
x = 20

if x > 18:
    print("Es mayor de edad")
else:
    print("Es menor de edad")

In [ ]:
# for
for i in range(5):
    print("Número:", i)

# while
contador = 0
while contador < 3:
    print("Contador:", contador)
    contador += 1

In [ ]:
# Funciones
def saludar(nombre):
    return f"Hola, {nombre}! Bienvenido a Python."

print(saludar("Lucci"))

In [ ]:
#Listas

lista = [1, 2, 3, 4, 5]

#Índice
print(lista[0])
print(lista[2:4]) #No incluye el último dato

#Pueden guardar cualquier tipo de dato
lista_2 = [1, "dos", True, None, 2.7, [1,2,3]]
print(lista_2)

#Mutable

#Modificar elemento
lista[1] = 5000
print(lista)

#Agregar elemento
lista.append(6)
print(lista)

#Eliminar elemento
lista.pop(2)
print(lista)

In [ ]:
# Tupla
tupla = (1,2,3,4,"5",True, [1,2,3,4])

print(tupla)

#Indice
print(tupla[1])
print(tupla[2:4]) #No incluye el ultimo dato

#comparar
print(5 in tupla)

In [ ]:
#Diccionario

diccionario = {
    "nombre": "Juan",
    "apellido": "Perez",
    "edad": 20,
    "altura": 1.70,
    "peso": 70,
}

#Acceder por clave
print(diccionario["nombre"])

#Agregar o modificar
diccionario["edad"] = 21
diccionario["ciudad"] = "CABA"

#Eliminar valor
del diccionario["altura"]
print(diccionario)

ciudad = diccionario.pop("ciudad")
print(diccionario)
print(ciudad)

#Comprobar clave
print("nombre" in diccionario)

# Analisis de Datos

Arranquemos con el analisis y estudio de datos con Pandas y Matplotlib

In [145]:
import pandas as pd

In [146]:
import pandas as pd

# Leé el archivo con el encoding correcto
data = pd.read_csv(
    r"D:\desarrollo\club-de-datos\club-de-datos-python\data\db_3.csv",
    sep=","
)

# Mostrá las primeras filas
data.head()

,start_date,end_date,created_on,lat,lon,l1,l2,l3,rooms,bedrooms,bathrooms,surface_total,surface_covered,price,currency,title,description,property_type,operation_type
0,2019-10-17,2019-12-23,2019-10-17,-34.605880,-58.384949,Argentina,Capital Federal,San Cristobal,7.0,7.0,2.0,140.0,140.0,153000.0,USD,"***Venta semipiso centro, ideal hostel*****",DESCRIPCION DE LA PROPIEDAD: Departamento de 1...,Departamento,Venta
1,2019-10-17,2019-11-21,2019-10-17,-34.624056,-58.412110,Argentina,Capital Federal,Boedo,2.0,1.0,2.0,70.0,58.0,159000.0,USD,Espectacular PH reciclado en Boedo sin expensas.,PH reciclado en Boedo a una cuadra de la plaz...,PH,Venta
2,2019-10-17,2019-11-01,2019-10-17,-34.593569,-58.427474,Argentina,Capital Federal,Palermo,2.0,1.0,1.0,45.0,45.0,125000.0,USD,Depto.tipo casa de 2 ambientes en Venta en Pal...,"2 ambienets amplio , excelente estado , patio ...",PH,Venta
3,2019-10-17,2019-12-23,2019-10-17,-34.581294,-58.436754,Argentina,Capital Federal,Palermo,2.0,1.0,1.0,85.0,50.0,295000.0,USD,COSTA RICA 5800 / PALERMO HOLLYWOOD / VENTA PH...,HERMOSO PH EN PALERMO!!!2 AMBIENTES TOTALMENTE...,PH,Venta
4,2019-10-17,2020-03-11,2019-10-17,-34.914194,-57.938219,Argentina,Bs.As. G.B.A. Zona Sur,La Plata,2.0,1.0,1.0,50.0,35.0,40000.0,USD,58 entre 1 y 2 Venta de departamento en ph.1 ...,58 entre 1 y 2 Venta de departamento en PH. P...,PH,Venta

In [147]:

# Ver nombres de columnas
print(data.columns)

Index(['start_date', 'end_date', 'created_on', 'lat', 'lon', 'l1', 'l2', 'l3',
       'rooms', 'bedrooms', 'bathrooms', 'surface_total', 'surface_covered',
       'price', 'currency', 'title', 'description', 'property_type',
       'operation_type'],
      dtype='object')

In [148]:
data.columns = ['fecha_inicio', 'fecha_fin', 'fecha_creacion', 'lat', 'lon', 'pais', 'provincia', 'ciudad',
 'ambientes', 'dormitorios', 'baños', 'superficie_total', 'superficie_cubierta',
 'precio', 'moneda', 'titulo', 'descripcion', 'tipo_propiedad', 'tipo_operacion']

In [149]:
print(data.columns)
data.head()
data.shape

Index(['fecha_inicio', 'fecha_fin', 'fecha_creacion', 'lat', 'lon', 'pais',
       'provincia', 'ciudad', 'ambientes', 'dormitorios', 'baños',
       'superficie_total', 'superficie_cubierta', 'precio', 'moneda', 'titulo',
       'descripcion', 'tipo_propiedad', 'tipo_operacion'],
      dtype='object')

(146660, 19)

In [150]:
# Ver resumen de tipos de datos y nulos
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146660 entries, 0 to 146659
Data columns (total 19 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   fecha_inicio         146660 non-null  object
 1   fecha_fin            146660 non-null  object
 2   fecha_creacion       146660 non-null  object
 3   lat                  136735 non-null  float64
 4   lon                  136701 non-null  float64
 5   pais                 146660 non-null  object
 6   provincia            146660 non-null  object
 7   ciudad               146660 non-null  object
 8   ambientes            146660 non-null  float64
 9   dormitorios          146660 non-null  float64
 10  baños                140703 non-null  float64
 11  superficie_total     126133 non-null  float64
 12  superficie_cubierta  125046 non-null  float64
 13  precio               146660 non-null  float64
 14  moneda               146660 non-null  object
 15  titulo               146660 non-null  object
 16  descripcion          146660 non-null  object
 17  tipo_propiedad       146660 non-null  object
 18  tipo_operacion       146660 non-null  object
dtypes: float64(8), object(11)
memory usage: 21.3+ MB
None

In [151]:
data.isnull().sum()

fecha_inicio               0
fecha_fin                  0
fecha_creacion             0
lat                     9925
lon                     9959
pais                       0
provincia                  0
ciudad                     0
ambientes                  0
dormitorios                0
baños                   5957
superficie_total       20527
superficie_cubierta    21614
precio                     0
moneda                     0
titulo                     0
descripcion                0
tipo_propiedad             0
tipo_operacion             0
dtype: int64

In [152]:
#data_2 = data["superficie_cubierta"].dropna
data_2 = data.dropna(subset=['superficie_cubierta'])

In [137]:
type(data_2)
data_2.shape

(125046, 19)

In [138]:
data_2.isnull().sum()

fecha_inicio              0
fecha_fin                 0
fecha_creacion            0
lat                    8487
lon                    8487
pais                      0
provincia                 0
ciudad                    0
ambientes                 0
dormitorios               0
baños                  1725
superficie_total        515
superficie_cubierta       0
precio                    0
moneda                    0
titulo                    0
descripcion               0
tipo_propiedad            0
tipo_operacion            0
dtype: int64

In [139]:
data_3 = data.dropna(subset=['superficie_cubierta', "superficie_total", "baños"])
data_3.isnull().sum()

fecha_inicio              0
fecha_fin                 0
fecha_creacion            0
lat                    8330
lon                    8330
pais                      0
provincia                 0
ciudad                    0
ambientes                 0
dormitorios               0
baños                     0
superficie_total          0
superficie_cubierta       0
precio                    0
moneda                    0
titulo                    0
descripcion               0
tipo_propiedad            0
tipo_operacion            0
dtype: int64

In [140]:
# Estadísticas básicas (promedios, desvío, min, max, etc.)
print(data_3.describe())

                 lat            lon      ambientes    dormitorios  \
count  114488.000000  114488.000000  122818.000000  122818.000000
mean      -34.598315     -58.462856       3.130950       2.068345
std         0.095430       0.140075       1.394685       1.084066
min       -35.150806     -59.042416       1.000000       0.000000
25%       -34.620238     -58.499527       2.000000       1.000000
50%       -34.598219     -58.443019       3.000000       2.000000
75%       -34.571633     -58.410219       4.000000       3.000000
max       -34.159732     -57.805832      35.000000      15.000000

               baños  superficie_total  superficie_cubierta        precio
count  122818.000000     122818.000000        122818.000000  1.228180e+05
mean        1.591648        191.389650           112.118582  2.441321e+05
std         0.879062       1490.906401           898.847733  2.999523e+05
min         1.000000         10.000000             1.000000  6.000000e+03
25%         1.000000         52.000000            47.000000  1.150000e+05
50%         1.000000         78.000000            68.000000  1.700000e+05
75%         2.000000        138.000000           108.000000  2.690000e+05
max        14.000000     169000.000000        126062.000000  3.243423e+07

In [141]:
# Tabla de correlaciones entre columnas numéricas
print(data_3.corr(numeric_only=True))

                          lat       lon  ambientes  dormitorios     baños  \
lat                  1.000000 -0.698515  -0.064708    -0.042450  0.092947
lon                 -0.698515  1.000000  -0.019355    -0.040154 -0.073784
ambientes           -0.064708 -0.019355   1.000000     0.910966  0.611770
dormitorios         -0.042450 -0.040154   0.910966     1.000000  0.620735
baños                0.092947 -0.073784   0.611770     0.620735  1.000000
superficie_total    -0.016133 -0.047335   0.101696     0.096344  0.079172
superficie_cubierta -0.004370 -0.014008   0.075844     0.073011  0.069271
precio               0.091484  0.037808   0.399234     0.379987  0.558982

                     superficie_total  superficie_cubierta    precio
lat                         -0.016133            -0.004370  0.091484
lon                         -0.047335            -0.014008  0.037808
ambientes                    0.101696             0.075844  0.399234
dormitorios                  0.096344             0.073011  0.379987
baños                        0.079172             0.069271  0.558982
superficie_total             1.000000             0.412752  0.044137
superficie_cubierta          0.412752             1.000000  0.049255
precio                       0.044137             0.049255  1.000000

In [142]:
data_3[['moneda', "tipo_operacion", "tipo_propiedad", "titulo"]].value_counts()

moneda  tipo_operacion  tipo_propiedad  titulo
USD     Venta           Departamento    DEPARTAMENTO EN VENTA                                                               4355
                                        Departamento de 2 ambientes en Venta en Villa crespo                                1586
                                        Departamento de 3 ambientes en Venta en Almagro                                     1256
                                        Departamento de 3 ambientes en Venta en Villa crespo                                1146
                                        Departamento de 2 ambientes en Venta en Palermo                                     1117
                                                                                                                            ...
                                        Departamento 5 Ambientes                                                               1
                                        Departamento 5 Ambientes con Dependencia y Cochera                                     1
                                        Departamento 5 amb Cochera Villa del Parque                                            1
                                        Departamento 5 amb al frente/ Balcón                                                   1
                        PH              Único y Exclusivo PH de 4 ambientes en Planta baja con Terraza Propia en 1° Piso       1
Name: count, Length: 62816, dtype: int64

In [143]:
data_fil = data_3[['provincia', 'ciudad',
 'ambientes', 'dormitorios', 'baños', 'superficie_total', 'superficie_cubierta',
 'precio', 'tipo_propiedad']]

data_fil.head()

,provincia,ciudad,ambientes,dormitorios,baños,superficie_total,superficie_cubierta,precio,tipo_propiedad
0,Capital Federal,San Cristobal,7.0,7.0,2.0,140.0,140.0,153000.0,Departamento
1,Capital Federal,Boedo,2.0,1.0,2.0,70.0,58.0,159000.0,PH
2,Capital Federal,Palermo,2.0,1.0,1.0,45.0,45.0,125000.0,PH
3,Capital Federal,Palermo,2.0,1.0,1.0,85.0,50.0,295000.0,PH
4,Bs.As. G.B.A. Zona Sur,La Plata,2.0,1.0,1.0,50.0,35.0,40000.0,PH

In [144]:
data_fil.shape

(122818, 9)

# Un Poquito de Matplotlib

In [ ]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt