# 游냀 Repaso inicial de Python

Este repaso cubre lo esencial para arrancar con Python, Pandas y MatplotLib  

---

## 1. Variables,  Tipos de Datos y Tipos Complejos

In [ ]:
# Asignaci칩n de variables
nombre = "Lucci"   # str (texto)
edad = 20            # int (entero)
altura = 1.80      # float (decimal)
es_estudiante = True    # bool (booleano)

print(nombre, edad, altura, es_estudiante)

In [ ]:
# Aritm칠ticos
a = 10
b = 3

print(a + b)   # Suma
print(a - b)   # Resta
print(a * b)   # Multiplicaci칩n
print(a / b)   # Divisi칩n
print(a // b)  # Divisi칩n entera
print(a % b)   # Resto
print(a ** b)  # Potencia

In [ ]:
# Condicionales
x = 20

if x > 18:
    print("Es mayor de edad")
else:
    print("Es menor de edad")

In [ ]:
# for
for i in range(5):
    print("N칰mero:", i)

# while
contador = 0
while contador < 3:
    print("Contador:", contador)
    contador += 1

In [ ]:
# Funciones
def saludar(nombre):
    return f"Hola, {nombre}! Bienvenido a Python."

print(saludar("Lucci"))

In [ ]:
#Listas

lista = [1, 2, 3, 4, 5]

#칈ndice
print(lista[0])
print(lista[2:4]) #No incluye el 칰ltimo dato

#Pueden guardar cualquier tipo de dato
lista_2 = [1, "dos", True, None, 2.7, [1,2,3]]
print(lista_2)

#Mutable

#Modificar elemento
lista[1] = 5000
print(lista)

#Agregar elemento
lista.append(6)
print(lista)

#Eliminar elemento
lista.pop(2)
print(lista)

In [ ]:
# Tupla
tupla = (1,2,3,4,"5",True, [1,2,3,4])

print(tupla)

#Indice
print(tupla[1])
print(tupla[2:4]) #No incluye el ultimo dato

#comparar
print(5 in tupla)

In [ ]:
#Diccionario

diccionario = {
    "nombre": "Juan",
    "apellido": "Perez",
    "edad": 20,
    "altura": 1.70,
    "peso": 70,
}

#Acceder por clave
print(diccionario["nombre"])

#Agregar o modificar
diccionario["edad"] = 21
diccionario["ciudad"] = "CABA"

#Eliminar valor
del diccionario["altura"]
print(diccionario)

ciudad = diccionario.pop("ciudad")
print(diccionario)
print(ciudad)

#Comprobar clave
print("nombre" in diccionario)

In [3]:
import pandas as pd
import matplotlib as plt

In [25]:
df = pd.read_csv(r"E:\club\club-de-datos-python\data\db_1.csv", encoding='latin1', sep='|')
df.head()

C:\Users\risso\AppData\Local\Temp\ipykernel_16624\3398390161.py:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"E:\club\club-de-datos-python\data\db_1.csv", encoding='latin1', sep='|')

,id,antig,barrio,direccion,lat,lng,fecha_pub_aviso,exp,sup_tot,sup_cub,...,parrilla,aire,amoblado,solarium,vigilancia,cochera,frente,contrafrente,amb,mes
0,42895875,8.0,belgrano,3 de Febrero 900,-34.569625,-58.442390,15dec2017,NaN,180.0,120.0,...,1.0,0.0,0.0,0.0,0.0,1.0,1,0.0,4.0,2017m12
1,41154401,3.0,puerto madero,Boulevard Rosario Vera Pe침aloza 500,-34.617915,-58.361766,28nov2017,9000.0,200.0,180.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1,0.0,4.0,2017m11
2,42103707,27.0,belgrano,11 DE SEPTIEMBRE 1500,-34.563877,-58.446771,01dec2017,16192.0,305.0,305.0,...,1.0,1.0,0.0,0.0,1.0,1.0,0,0.0,4.0,2017m12
3,24237148,30.0,paternal,Avenida San Martin 2600,-34.603442,-58.463063,06dec2017,3900.0,90.0,85.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1,0.0,4.0,2017m12
4,42918340,3.0,palermo viejo,NICETO VEGA 4600,-34.593483,-58.429485,05dec2017,NaN,41.0,36.0,...,0.0,1.0,0.0,1.0,0.0,1.0,1,1.0,1.0,2017m12

In [13]:
df.columns

Index(['id', 'antig', 'barrio', 'direccion', 'lat', 'lng', 'fecha_pub_aviso',
       'exp', 'sup_tot', 'sup_cub', 'alq_usd', 'alq_arg', 'alq_dolar',
       'alq_peso', 'ascen', 'gimnasio', 'lavadero', 'sum_', 'pileta', 'balc',
       'parrilla', 'aire', 'amoblado', 'solarium', 'vigilancia', 'cochera',
       'frente', 'contrafrente', 'amb', 'mes'],
      dtype='object')

In [18]:
df.shape

(149859, 30)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149859 entries, 0 to 149858
Data columns (total 30 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               149859 non-null  int64
 1   antig            129673 non-null  float64
 2   barrio           149819 non-null  object
 3   direccion        149536 non-null  object
 4   lat              149857 non-null  float64
 5   lng              149858 non-null  float64
 6   fecha_pub_aviso  149858 non-null  object
 7   exp              125885 non-null  float64
 8   sup_tot          147732 non-null  float64
 9   sup_cub          140453 non-null  float64
 10  alq_usd          17898 non-null   float64
 11  alq_arg          131395 non-null  float64
 12  alq_dolar        138462 non-null  float64
 13  alq_peso         138462 non-null  float64
 14  ascen            149858 non-null  float64
 15  gimnasio         149858 non-null  float64
 16  lavadero         149858 non-null  float64
 17  sum_             149858 non-null  float64
 18  pileta           149858 non-null  float64
 19  balc             149858 non-null  float64
 20  parrilla         149858 non-null  float64
 21  aire             149858 non-null  float64
 22  amoblado         149857 non-null  float64
 23  solarium         149858 non-null  float64
 24  vigilancia       149858 non-null  float64
 25  cochera          53592 non-null   float64
 26  frente           149858 non-null  object
 27  contrafrente     149857 non-null  float64
 28  amb              148600 non-null  float64
 29  mes              149857 non-null  object
dtypes: float64(24), int64(1), object(5)
memory usage: 34.3+ MB

In [20]:
df.isnull().sum()

id                      0
antig               20186
barrio                 40
direccion             323
lat                     2
lng                     1
fecha_pub_aviso         1
exp                 23974
sup_tot              2127
sup_cub              9406
alq_usd            131961
alq_arg             18464
alq_dolar           11397
alq_peso            11397
ascen                   1
gimnasio                1
lavadero                1
sum_                    1
pileta                  1
balc                    1
parrilla                1
aire                    1
amoblado                2
solarium                1
vigilancia              1
cochera             96267
frente                  1
contrafrente            2
amb                  1259
mes                     2
dtype: int64

In [33]:
df.corr(numeric_only=True)

,id,antig,lat,lng,exp,sup_tot,sup_cub,alq_usd,alq_arg,alq_dolar,...,pileta,balc,parrilla,aire,amoblado,solarium,vigilancia,cochera,contrafrente,amb
id,1.000000,0.033683,-0.015996,-0.034324,0.041469,0.001895,0.002637,0.001251,0.041463,-0.010687,...,-0.017382,-0.014620,-0.014947,-0.035475,-0.016520,-0.036974,-0.028032,-0.015360,-0.055182,0.013960
antig,0.033683,1.000000,-0.038505,0.006691,-0.003510,0.006040,0.007037,-0.002505,-0.007240,-0.001875,...,-0.239064,-0.151597,-0.214152,-0.093201,-0.025681,-0.225401,-0.056213,-0.126207,-0.015027,0.141871
lat,-0.015996,-0.038505,1.000000,-0.185888,0.113771,-0.001546,0.010435,-0.001359,0.071802,0.002938,...,0.130012,0.135006,0.129384,0.144339,0.053656,0.118962,0.107372,0.170415,0.021745,0.061356
lng,-0.034324,0.006691,-0.185888,1.000000,0.153569,0.001237,0.003417,-0.000231,0.004494,0.001979,...,0.011541,-0.011473,-0.012555,0.011862,0.216949,0.013533,0.026638,0.041043,-0.036459,0.080847
exp,0.041469,-0.003510,0.113771,0.153569,1.000000,0.044286,0.051571,0.012873,0.345581,0.060350,...,0.170729,0.119613,0.071651,0.119032,0.075934,0.137706,0.201536,0.442940,-0.040543,0.320245
sup_tot,0.001895,0.006040,-0.001546,0.001237,0.044286,1.000000,0.019151,-0.000367,0.023507,0.004283,...,-0.001197,0.001946,0.005327,-0.002237,-0.000757,0.005432,-0.001077,0.042065,-0.001429,0.000345
sup_cub,0.002637,0.007037,0.010435,0.003417,0.051571,0.019151,1.000000,0.003201,0.028618,0.004923,...,0.016442,0.006678,0.009072,0.013199,0.016060,0.014673,0.027791,0.410814,-0.008163,0.042900
alq_usd,0.001251,-0.002505,-0.001359,-0.000231,0.012873,-0.000367,0.003201,1.000000,NaN,0.999998,...,-0.009750,-0.016399,-0.004151,-0.013347,-0.007115,-0.006861,-0.010240,-0.021366,-0.002303,-0.017219
alq_arg,0.041463,-0.007240,0.071802,0.004494,0.345581,0.023507,0.028618,NaN,1.000000,0.904208,...,0.100491,0.074085,0.046749,0.069332,0.060879,0.076666,0.097117,0.431616,-0.028446,0.123824
alq_dolar,-0.010687,-0.001875,0.002938,0.001979,0.060350,0.004283,0.004923,0.999998,0.904208,1.000000,...,0.015573,0.001032,0.016412,0.007887,0.021756,0.011972,0.012658,0.083683,-0.003714,0.022484
alq_peso,-0.004334,-0.001461,0.001919,0.001670,0.059222,0.003901,0.004600,0.995090,1.000000,0.994767,...,0.011777,0.000128,0.014012,0.005505,0.019539,0.009055,0.009994,0.088896,-0.005061,0.019651
ascen,-0.128430,-0.001768,0.036900,0.004507,0.036136,-0.001704,0.004438,-0.004536,0.010085,0.002931,...,0.096687,0.087208,0.063165,0.102140,0.019297,0.142981,0.307209,0.067405,0.036026,0.027711
gimnasio,-0.002172,-0.184207,0.089121,0.020652,0.209386,-0.000764,0.024110,-0.008822,0.121181,0.019222,...,0.704527,0.192931,0.351558,0.262630,0.207356,0.594160,0.401030,0.385380,-0.076266,0.037309
lavadero,-0.014470,-0.023230,0.089293,0.004913,0.160972,0.002656,0.025386,-0.016430,0.088960,0.014739,...,0.232224,0.214578,0.157412,0.140313,0.049573,0.222257,0.209428,0.246029,0.017600,0.192439
sum_,0.047107,-0.144359,0.102398,0.007638,0.145452,-0.001728,0.017701,-0.011190,0.068479,0.008369,...,0.463214,0.176885,0.367535,0.200161,0.104598,0.431607,0.227962,0.277464,-0.017978,0.027155
pileta,-0.017382,-0.239064,0.130012,0.011541,0.170729,-0.001197,0.016442,-0.009750,0.100491,0.015573,...,1.000000,0.240227,0.477754,0.277747,0.173701,0.673120,0.354830,0.377418,-0.038070,-0.003580
balc,-0.014620,-0.151597,0.135006,-0.011473,0.119613,0.001946,0.006678,-0.016399,0.074085,0.001032,...,0.240227,1.000000,0.197215,0.179406,0.032331,0.226085,0.143262,0.254965,0.060455,0.079301
parrilla,-0.014947,-0.214152,0.129384,-0.012555,0.071651,0.005327,0.009072,-0.004151,0.046749,0.016412,...,0.477754,0.197215,1.000000,0.205266,0.052671,0.512845,0.163113,0.220007,0.017289,-0.032886
aire,-0.035475,-0.093201,0.144339,0.011862,0.119032,-0.002237,0.013199,-0.013347,0.069332,0.007887,...,0.277747,0.179406,0.205266,1.000000,0.215381,0.276391,0.245715,0.222135,0.000530,0.035344
amoblado,-0.016520,-0.025681,0.053656,0.216949,0.075934,-0.000757,0.016060,-0.007115,0.060879,0.021756,...,0.173701,0.032331,0.052671,0.215381,1.000000,0.138643,0.162886,0.093338,-0.043652,0.020630
solarium,-0.036974,-0.225401,0.118962,0.013533,0.137706,0.005432,0.014673,-0.006861,0.076666,0.011972,...,0.673120,0.226085,0.512845,0.276391,0.138643,1.000000,0.348506,0.327639,-0.020604,-0.018610
vigilancia,-0.028032,-0.056213,0.107372,0.026638,0.201536,-0.001077,0.027791,-0.010240,0.097117,0.012658,...,0.354830,0.143262,0.163113,0.245715,0.162886,0.348506,1.000000,0.336418,-0.027458,0.106139
cochera,-0.015360,-0.126207,0.170415,0.041043,0.442940,0.042065,0.410814,-0.021366,0.431616,0.083683,...,0.377418,0.254965,0.220007,0.222135,0.093338,0.327639,0.336418,1.000000,-0.026901,0.283639
contrafrente,-0.055182,-0.015027,0.021745,-0.036459,-0.040543,-0.001429,-0.008163,-0.002303,-0.028446,-0.003714,...,-0.038070,0.060455,0.017289,0.000530,-0.043652,-0.020604,-0.027458,-0.026901,1.000000,-0.026457
amb,0.013960,0.141871,0.061356,0.080847,0.320245,0.000345,0.042900,-0.017219,0.123824,0.022484,...,-0.003580,0.079301,-0.032886,0.035344,0.020630,-0.018610,0.106139,0.283639,-0.026457,1.000000

In [ ]:
#df_belgrano = df["barrio"] == "belgrano" #Por que esto no nos da lo que queremos
df_belgrano = df[df["barrio"] == "belgrano"]
df_belgrano.head()

,id,antig,barrio,direccion,lat,lng,fecha_pub_aviso,exp,sup_tot,sup_cub,...,parrilla,aire,amoblado,solarium,vigilancia,cochera,frente,contrafrente,amb,mes
0,42895875,8.0,belgrano,3 de Febrero 900,-34.569625,-58.442390,15dec2017,NaN,180.0,120.0,...,1.0,0.0,0.0,0.0,0.0,1.0,1,0.0,4.0,2017m12
2,42103707,27.0,belgrano,11 DE SEPTIEMBRE 1500,-34.563877,-58.446771,01dec2017,16192.0,305.0,305.0,...,1.0,1.0,0.0,0.0,1.0,1.0,0,0.0,4.0,2017m12
15,42933514,20.0,belgrano,VUELTA DE OBLIGADO Y JOS칄 HERNANDEZ,-34.565162,-58.452368,12dec2017,10600.0,178.0,178.0,...,0.0,0.0,1.0,0.0,1.0,1.0,0,0.0,4.0,2017m12
26,20924805,37.0,belgrano,Virrey Olaguer Y Feli칰 2600,-34.568924,-58.453626,06dec2017,4400.0,83.0,80.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1,0.0,3.0,2017m12
28,41627943,5.0,belgrano,Artilleros,-34.557563,-58.442389,10nov2017,16000.0,158.0,148.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1,0.0,4.0,2017m11

In [ ]:
#df_belgrano_2 = df.barrio == "belgrano" #Porque esto no nos da lo que queremos?
df_belgrano_2 = df[df.barrio == "belgrano"]
df_belgrano_2.head()

,id,antig,barrio,direccion,lat,lng,fecha_pub_aviso,exp,sup_tot,sup_cub,...,parrilla,aire,amoblado,solarium,vigilancia,cochera,frente,contrafrente,amb,mes
0,42895875,8.0,belgrano,3 de Febrero 900,-34.569625,-58.442390,15dec2017,NaN,180.0,120.0,...,1.0,0.0,0.0,0.0,0.0,1.0,1,0.0,4.0,2017m12
2,42103707,27.0,belgrano,11 DE SEPTIEMBRE 1500,-34.563877,-58.446771,01dec2017,16192.0,305.0,305.0,...,1.0,1.0,0.0,0.0,1.0,1.0,0,0.0,4.0,2017m12
15,42933514,20.0,belgrano,VUELTA DE OBLIGADO Y JOS칄 HERNANDEZ,-34.565162,-58.452368,12dec2017,10600.0,178.0,178.0,...,0.0,0.0,1.0,0.0,1.0,1.0,0,0.0,4.0,2017m12
26,20924805,37.0,belgrano,Virrey Olaguer Y Feli칰 2600,-34.568924,-58.453626,06dec2017,4400.0,83.0,80.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1,0.0,3.0,2017m12
28,41627943,5.0,belgrano,Artilleros,-34.557563,-58.442389,10nov2017,16000.0,158.0,148.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1,0.0,4.0,2017m11

In [43]:
df_belgrano_parrilla = df[(df.barrio == "belgrano") & (df["parrilla"] > 0)]
df_belgrano_parrilla.head()

,id,antig,barrio,direccion,lat,lng,fecha_pub_aviso,exp,sup_tot,sup_cub,...,parrilla,aire,amoblado,solarium,vigilancia,cochera,frente,contrafrente,amb,mes
0,42895875,8.0,belgrano,3 de Febrero 900,-34.569625,-58.442390,15dec2017,NaN,180.0,120.0,...,1.0,0.0,0.0,0.0,0.0,1.0,1,0.0,4.0,2017m12
2,42103707,27.0,belgrano,11 DE SEPTIEMBRE 1500,-34.563877,-58.446771,01dec2017,16192.0,305.0,305.0,...,1.0,1.0,0.0,0.0,1.0,1.0,0,0.0,4.0,2017m12
28,41627943,5.0,belgrano,Artilleros,-34.557563,-58.442389,10nov2017,16000.0,158.0,148.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1,0.0,4.0,2017m11
144,42916045,0.0,belgrano,Moldes 800,-34.571651,-58.448890,05dec2017,3000.0,45.0,42.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1,0.0,2.0,2017m12
151,42834389,NaN,belgrano,Aguilar 2500,-34.570834,-58.448703,08nov2017,2500.0,53.0,45.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1,0.0,2.0,2017m11

In [47]:
# Calcula el precio promedio por ciudad
promedio_por_ciudad = df.groupby('barrio')['alq_dolar'].mean()
promedio_por_ciudad

barrio
-58.48424710000001      0.000000
abasto                388.792965
agronomia             408.892008
almagro               404.660854
balvanera             468.289818
                         ...
villa real            384.512050
villa riachuelo       340.524070
villa santa rita      362.839522
villa soldati         294.930514
villa urquiza         477.162314
Name: alq_dolar, Length: 63, dtype: float64